* {
    margin: 0;
    padding: 10;
}

.cabecalho {
    background-color: #383D58;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.imagem {
    width: 20%;
}

.item-lista {
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
}

.escola {
    background-image: linear-gradient(#383D58, #00c0eb);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-conteudo {
    width: 35%;
}

.estudante-imagem {
    width: 140px;
}

.estudante-icone {
    width: 24px;
}

.estudante-div {
    text-align: center;
}

.estudante-titulo {
    text-align: center;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 50px;

}

footer {
    background-color: black;
    padding: 15px 0;
    text-align: center;
}